* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-box {
  display: flex;
  justify-content: center;
  background-color: #1f2937;  
}

.header-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.7em;
  margin-bottom: 2em;
}

header p {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  gap: 1em;
}

a:link, a:visited {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  padding: 3em 0;
}

.hero-left, .hero-right {
  flex: 1;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 905;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-right {
  background-color: rgb(123, 137, 150);
  margin-left: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-button {
  color: white;
  background-color: #3882f6;
  height: 4.5vh;
  width: 15vh;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border-style: none;
  margin-top: 1em;
}

.second-box {
  display: flex;
  justify-content: center;
}

.second-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.second-box-wrapper > p {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card-container {
  display: flex;
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  flex: 1;
  border-color: #3882f6;
  color: white;
}